<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='one-page-wonder.css') }}">

<center><h1>News Classifier</h1>
<br>
<form method=post action="">
	<table>
		{% for field in form %}
		<tr>
			<td>
				<strong>{{ field.label }}</strong>
			</td>
			<td>
				{{ field }}
			</td>
		</tr>
		{% endfor %}
	</table>
	<p>
		<br>		
		<input type=submit value=Check></form>
	</p>
	<p>
		<br>
		<br>
		{% if text != None %}
		Class predicted by me is <strong>{{ answer }}</strong>
		{% endif %}
	</p>
</center>

